# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=crypto_db
POSTGRES_USER=crypto_master
POSTGRES_PASSWORD=isi_password_postgres

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=isi_access_key_minio_disini
MINIO_SECRET_KEY=isi_secret_key_minio_disini
MINIO_BUCKET=raw-crypto
MINIO_SECURE=False

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
# PENTING: Ganti tulisan "isi_password_postgres" di bawah dengan password asli PostgreSQL
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://crypto_master:isi_password_postgres_kalian_disini@postgres/crypto_db
AIRFLOW__CORE__FERNET_KEY=isi_fernet_key_random_base64_disini
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=false
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__SESSION_BACKEND=securecookie

# Password Metabase: isi_password_metabase